/* @import url('https://fonts.googleapis.com/css?family=Mandali&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600|Playfair+Display:400,700,900&display=swap');

/*
Colors:

light red: #EB5757
light-gray: #7C89A4
white: #C7CDD0
melon: #D2AF78
light-yellow: #DECC55
*/

body {
  color: #222;
  font-family: 'IBM Plex Sans', sans-serif;
}

a{
  /* color: #c13cff; */
  color: #009AFA;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 2em;
  line-height: 1;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.5em;
  line-height: 1.333333333;
  margin-bottom: 0.666666666em;
}

h3 {
  font-size: 1.25em;
  line-height: 1;
  margin-bottom: .9em;
}


/* Nav */

nav a {
  text-decoration: none;
  color: #222;
  border-bottom: 2px solid #FFF;
  transition: all 0.2s;
}

nav a:hover {
  border-bottom: 2px solid #009AFA;
}



.lightText{
  font-weight: 300;
}

/* HOME */

.introInfo{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 20px;
  max-width: 720px;
  margin: 90px auto 100px;
  align-items: center;
}

.detailedInfo{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  max-width: 720px;
  /* margin: 90px auto 100px; */
  align-items: center;
}

.introInfo div:first-child{
  text-align: right;
}

.introInfo img{
  max-width: 300px;
  margin: 0;
}

.mainDescription{
  padding-top: 10px;
}

.mainDescription h2{
  margin-bottom: 10px;
}

.mainDescription h3{
  margin-bottom: 0;
}

.summary{
  max-width: 550px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 100px;
  color: #000;
  font-size: 1.3em;
}

.sectionPanel{
  max-width: 450px;
    /* border-top: 1px solid #c4c4c4; */
  padding-top: 20px;
  margin-bottom:120px;
}

.sectionPanel p{
    font-size: 1em;
    line-height: 1.25em;
}


.post{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 15px;
  max-width: 700px;
  margin: 0 auto 100px;
  text-align: right;
  text-decoration: none;
  color: #222;
  transition: all 0.2s;
}

.post img{
  border: 1px solid #dadada;
  border-radius: 16px;
  margin-bottom: 0;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

.post p{
  font-size: 0.8em;
  opacity: 0.75;
  transition: all 0.2s;
}

.post:hover img{
  /* border: 1px solid #c13cff; */
  /* margin-top: -10px; */
  transform: translateY(-5%) scale(1.01);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
}

.post:hover p{
  color: #009AFA;
}


/* Posts */
.postTitle{
  text-align: center;
  max-width: 500px;
  margin: 100px auto 100px;
}

.postTitle p{
  max-width: 400px;
  margin: 0 auto;
}

.author{
  max-width: 300px;
  margin: 0 auto 100px;
}

.author div:first-child{
  float: left;
  margin-right: 15px;
}

.author img{
  max-width: 55px;
}

.author h3{
  font-size: 0.9em;
  margin-bottom: 5px;
}

.author p{
  font-size: 14px;
  line-height: 1.3em;
}

.gridSection {
  display: grid;
  grid-template-columns: 4fr 1fr 7fr 3fr;
}

.sideNote{
  font-size: 14px;
  line-height: 1.5em;
  text-align: right;
  color: #888;
}

.customDivider{
  height: 120px;
}

.gridSectionType2 {
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-gap: 80px;
  margin-bottom: 60px;
}

.sectionLeft{
  max-width: 505px;
  margin-bottom: 80px;
}

.gridSectionType3 {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr 8fr 1fr;
  margin-bottom: 60px;
}

.gridSectionType3 img{
  margin-bottom: 0;
}

.gridSectionType3 div:nth-child(4){
  padding-top: 60px;
}

.gridSectionType3 p{
  font-size: 16px;
}

.gridSectionType4 {
  display: grid;
  grid-template-columns: 10fr 1fr 6fr;
  margin-bottom: 60px;
}

.gridSectionType4 p {
  font-size: 16px;
}


.contentCategories {
  margin: 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.comparisonColumns{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  text-align: center;
}

.comparisonColumns img {
  height: 600px;
}

.comparisonColumns img.fitImage {
  height: auto;
  width: auto;
}

.comparisonColumns ul{
  text-align: left;
  font-size: 16px;
  list-style-type: circle;
}

/* Images */
.midImage{
  width: 120%;
  margin-left: -10%;
}


/* Stikcy Headers */
.perspectiveSection{
  display: grid;
  grid-template-columns: 2fr 6fr;
  grid-gap: 20px;
  text-align: center;
}


.contact {
  text-align: center;
  font-size: 15px;
  margin-top: 100px;
}

twitter-widget{
  margin: 0 auto;
}


/* Previous */

footer{
  margin-top: 60px;
}

.square small {
  border: 1px solid;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 10px;
  color: #AAA;
}

@media screen and (max-width: 1080px){
  .midImage {
    width: 100%;
    margin-left: 0;
  }
}


@media screen and (max-width: 550px){

  .introInfo {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 0;
    text-align: center;
  }

  .introInfo div:first-child {
    text-align: center;
  }

  .mainDescription {
    text-align: center;
  }

  .sectionPanel{
    margin-bottom: 50px;
  }

  .post{
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 0;
    grid-auto-flow: dense;
    margin-bottom: 50px;
  }

  .customDivider {
    height: 60px;
  }

  .sideNote {
    text-align: left;
  }

  .post div:first-child{
    text-align: left;
    grid-row: 2;
  }

  .gridSection, .gridSectionType2 {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
  }

  .gridSectionType3 img{
    max-width: 240px;
    margin-bottom: 20px;
  }

  .gridSectionType3 {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 0;
  }

  .gridSectionType3 div:nth-child(2) {
    text-align: center;
  }

  .gridSectionType3 div:nth-child(4) {
    padding-top: 0;
  }

  .gridSectionType4 {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin-bottom: 20px;
  }

  .contentCategories {
     grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
     grid-gap: 10px;
  }

  .comparisonColumns {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .perspectiveSection {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .perspectiveSection img{
    max-height: 300px;
  }

}